@import url('menu-light-mode.variables.css');
@import url('header.css');
@import url('breadcrumbs.css');
@import url('footer.css');


main#main-content section.tempus-group {
    font-family: "Playfair Display";
    font-style: normal;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding-bottom: 48px
}


main#main-content section.our-values {
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-bottom: 48px;
    width: 100%;
}

main#main-content section.our-values div.container-article {
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 48px;
    justify-content: space-between;
}

main#main-content section.our-values div.container-article article {
    padding: 32px 32px;
    background: #FDF9F4;
    border-radius: 4px;
    min-width: 280px;
    max-width: 400px;
}

main#main-content section.our-values div.container-article div {
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 24px;
    align-items: center;
}

main#main-content section.store-concepts {
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-bottom: 96px;
    width: 100%;
}

main#main-content section.store-concepts div{
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 24px;
    width: 100%;
}

main#main-content section.store-concepts div article{
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
}
main#main-content section.store-concepts div article img{
    flex-grow: 1;
    width: 100%;
}

main#main-content section.store-concepts div article div.text{
   gap: 0;
   line-height: normal;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
