
:root {
    /*primitive colors*/
    --var-10: #FDF9F4;
    --var-20: #F4E3D4;
    --var-30: #F0D8C2;
    --var-40: #EBCBAD;
    --var-50: #E2B57C;
    --var-60: #BF8555;
    --var-70: #895F34;
    --var-80: #7A5126;
    --var-90: #633F19;
    --var-100: #3F240F;
    --var-10: #FFFFFF;
    --var-10: #FFFCFC;
    --var-20: #FFF8F7;
    --var-30: #FEEBE7;
    --var-40: #FFDCD3;
    --var-50: #FFCDC2;
    --var-60: #F5A898;
    --var-70: #EC8E7B;
    --var-80: #E54D2E;
    --var-90: #D13415;
    --var-100: #B32509;
    --var-20: #FCFCFD;
    --var-30: #F9F9FB;
    --var-40: #F0F0F3;
    --var-50: #E1E0E6;
    --var-60: #CFCDD6;
    --var-70: #BCBAC5;
    --var-80: #8E8C96;
    --var-90: #64626C;
    --var-100: #201F24;
    --var-10: #FEFDFB;
    --var-20: #FEFBE9;
    --var-30: #FFF7C2;
    --var-40: #FFEE9C;
    --var-50: #FBE577;
    --var-70: #F3D768;
    --var-60: #E2A336;
    --var-80: #E4C767;
    --var-90: #D5AE39;
    --var-100: #9E6C00;
    --var-10: #F4FAFF;
    --var-20: #E6F4FE;
    --var-30: #C2E5FF;
    --var-40: #ACD8FC;
    --var-50: #8EC8F6;
    --var-70: #5EB1EF;
    --var-60: #0090FF;
    --var-80: #0588F0;
    --var-90: #0D74CE;
    --var-100: #13366C;
    --var-10: #F5FBF5;
    --var-20: #E9F6E9;
    --var-30: #C9E8CA;
    --var-40: #B2DDB5;
    --var-50: #94CE9A;
    --var-70: #65BA74;
    --var-60: #46A758;
    --var-80: #3E9B4F;
    --var-90: #2A7E3B;
    --var-100: #274B2E;
    --var-90: #FFFFFFE5;
    --var-80: #FFFFFFCC;
    --var-70: #FFFFFFB2;
    --var-60: #FFFFFF99;
    --var-50: #FFFFFF80;
    --var-40: #FFFFFF66;
    --var-30: #FFFFFF4D;
    --var-20: #FFFFFF33;
    --var-10: #FFFFFF1A;
    --var-90: #000000E5;
    --var-80: #000000CC;
    --var-70: #000000B2;
    --var-60: #00000099;
    --var-50: #00000080;
    --var-40: #00000066;
    --var-30: #0000004D;
    --var-20: #00000033;
    --var-10: #0000001A;

    /*foundation colors*/
    --primary: var(--var-10);
    --black: var(--var-100);
    --gray: var(--var-90);
    --brand: var(--var-70);
    --white: var(--var-10);
    --black: var(--var-100);
    --white: var(--var-10);
    --brand: var(--var-70);
    --grey: var(--var-90);
    --surface: var(--var-20);
    --contant: var(--var-100);
    --surface: var(--var-20);
    --content: var(--var-100);
    --surface: var(--var-20);
    --content: var(--var-100);
    --surface: var(--var-30);
    --content: var(--var-100);
    --black: var(--var-100);
    --dark-gray: var(--var-90);
    --light-gray: var(--var-50);
    --white: var(--var-10);
    --var-10: #FFFFFF1A;
    --var-60: #FFFFFF99;
  }